.listing__body {
    width: 90%;
    height: 506px;
    background: url('/image/listbg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.listing {
    margin: 0 auto;
}

.listing__title {
    color: rgba(17, 28, 85, 0.90);
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 32.018px */
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.listing__detail {
    width: 100%;
    height: 561px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.listing__detail__menu {
    padding: 47px 19px;
    margin-bottom: 16px;
}


.listing__detail {
    border-bottom: 1px solid #E0E0E0;
}

.nav-pills .list__link.active,
.nav-pills .show>.list__link {
    width: 100%;
    height: 69px;
    flex-shrink: 0;
    border-radius: 45px 0px 0px 45px;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    color: #fff;
    align-items: center;
    border: none;
}

.list__link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0px;
}

.nav-link {
    padding: 0;
}

.list__link img {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-item {
    margin-top: 32px;
    margin-left: 30px;
}

.list__link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divide {
    width: 100%;
    margin-bottom: 30px;
}

.form-label {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.listing__pg {
    padding: 0 42px;
    padding-top: 25px;
    padding-bottom: 57px;
    width: 100%;
    height: 506px;
    background-color: #fff;
    box-shadow: 0px 1px 4px grey;
    border-radius: 17px;
}

.listing__pg h4 {
    color: rgba(17, 28, 85, 0.90);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    margin: 18px 0;
    line-height: normal;
}

.listing__pg h3 {
    color: rgba(17, 28, 85, 0.90);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.form-control {
    width: 50%;
    height: 35px;
    flex-shrink: 0;
}


.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    background: rgba(97, 85, 223, 0.30);
    border: 0.2px solid #6155DF;
    color: black;
}


.btn-outline-primary {
    width: 50%;
    height: 104px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 0.2px solid #6155DF;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0.2px 0.9px 0.9px 0px rgba(0, 0, 0, 0.20);
}

.btn-outline-primary:hover {
    background: rgba(97, 85, 223, 0.30);
}

.btn-outline-primary:active {
    border: 0.2px solid #6155DF;

}

.Listing__option {
    width: 180px !important;
    height: 104px !important;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.room__detail__option {
    padding: 10px 30px;
    width: 80%;
    justify-content: space-between;
}

.listing__foot__btn-1 {
    color: #111C55;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 97.023%;
    border-radius: 7px;

    /* 21.345px */
    width: 160px;
    height: 55px;
    flex-shrink: 0;
}

.listing__foot__btn-2 {
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 97.023%;
    /* 21.345px */
    width: 220px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 7px;
    background: rgba(17, 28, 85, 0.90);
    margin-left: 20px;
}

.listing__foot__btns{
    padding: 0px 245px !important ;
    margin: 20px 200px;
}