@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    /* border: 2px solid red; */
    font-family: 'Inter';
}

.nav__toggle {
    font-size: 35px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    height: 78px;
    flex-shrink: 0;
    padding-left: 39px;
    padding-right: 57px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav__brand__logo {
    margin-right: 4px;
    margin-left: 40px;
    width: 25.841px;
    height: 30.661px;
}

.nav__brand span {
    color: #000;
    font-family: Inter;
    font-size: 19.731px;
    font-style: normal;
    font-weight: 700;
    line-height: 97.023%;
    /* 19.143px */
    letter-spacing: -0.395px;
}

.user__icon {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid rgb(89, 87, 87);
}

.user #user__name {
    width: 69px;
    height: 16.361px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 15.109px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1px;
    margin-left: 4px;
    line-height: 97.023%;
    /* 14.659px */
    letter-spacing: 0.076px;
}

#user__name {
    outline: none;
    border: none;
    background-color: transparent;
}

.dropdown__item {
    color: rgba(38, 38, 38, 0.70);
    font-family: Inter;
    font-size: 15.109px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    /* 14.659px */
    letter-spacing: 0.076px;
    margin: 10px 0;
}

hr {
    margin: 10px 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 20px;
    padding: 20px;
    width: 247px;
    height: 331px;
    flex-shrink: 0;
}

.log__out {
    color: rgba(94, 23, 235, 0.70);
    font-family: Inter;
    font-size: 15.109px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    /* 14.659px */
    letter-spacing: 0.076px;
}

.up__plan {
    color: #5E17EB;
    font-family: Inter;
    font-size: 15.11px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    margin: 0 10px;
    margin-right: 20px;
    /* 14.66px */
    letter-spacing: 0.076px;
}

.nav__register {
    color: #000;
    width: 111px;
    height: 28px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 15.109px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    /* 14.659px */
    letter-spacing: 0.076px;
    border-radius: 5px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.00);
}

.account__title {
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 22.315px */
    letter-spacing: -0.345px;
    margin: 37px 0;
}

.account__detail {
    width: 1082px;
    height: 561px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.account__detail__menu {
    padding: 47px 19px;
    margin-bottom: 16px;
}

.detail__menu__item {
    width: 185px;
    height: 100%;
    border-right: 1px solid #E0E0E0;
}

.account__detail {
    border-bottom: 1px solid #E0E0E0;

}

.nav-pills .nav__link.active,
.nav-pills .show>.nav__link {
    color: #5E17EB;
    background-color: #fff;
    border-left: 3px solid purple;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0px;
}

.profile__nav__item{
    margin-left: 0px !important;
    margin-top: 10px !important;
}

.nav-link {
    padding: 0;
}

.nav__link {
    background-color: #fff;
    /* width: 119px; */
    height: 35px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    /* 16.494px */
    letter-spacing: -0.255px;
    padding-left: 39px;
    margin-top: 18px;
    align-items: start;
    padding: 0.5rem 0 !important;
    padding-left: 39px !important;
}

.divider {
    width: 165px;
    margin: 30px auto;
}

.nav_link_botm {
    width: 178px;
    height: 21px;
    flex-shrink: 0;
    color: #555 !important;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    margin-bottom: 12px;
    /* 18.434px */
    letter-spacing: -0.285px;
    padding-left: 19px !important;
    border: none;

}

.nav-pills .nav_link_botm.active,
.nav-pills .show>.nav_link_botm {
    color: #5E17EB;
    background-color: #fff;
    border-left: none;
}


.tab-pane {
    width: 897px;
    height: 100%;
}

.account__profile {
    padding: 0 82px;
    padding-top: 25px;
    padding-bottom: 57px;
}

.account__profile h3{
    color: #000;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: 97.023%; /* 22.315px */
letter-spacing: -0.345px;
}

.user__id {
    width: 699px;
    height: 119px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.7px solid #CDC8C8;
    background: #FFF;
    padding: 17px 37px;
}

.user__name input {
    /* width: 125px; */
    /* width: 225px; */
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    /* 22.315px */
    letter-spacing: -0.345px;
    border: none;
    outline: none;
}

.name__edit{
    border: 2px solid #5E17EB !important;
    border-radius: 4px;

    outline: none;
}

.user__icon img{
    cursor: pointer !important;
}

.user__name{
    align-items: center;
    width: 310px;
    margin-left: 13.5px;

}

.user__name p {
    width: 54px;
    color: #707070;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.023%;
    /* 16.494px */
    letter-spacing: -0.255px;
    /* margin: 0 auto; */
}

.user__edit{
    color: #5E17EB;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 97.023%; /* 12.613px */width: 72px;
height: 24px;
flex-shrink: 0;
letter-spacing: -0.195px;border-radius: 3px;
border: 0.4px solid #CBCBCB;
background: #FFF;
}

.user__edit:active{
    transform: scale(0.9);
}

.user__edit i{
    font-size: 12px;
}

.personal__info{
    width: 699px;
height: 289px;
flex-shrink: 0;
border-radius: 14px;
border: 0.7px solid #CDC8C8;
background: #FFF;
padding: 36px 40px;
margin-top: 23px;
}

.info__head h3{
    color: #000;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 97.023%; /* 20.375px */
letter-spacing: -0.315px;
}

.info__item{
    width: 300px;
    
}

.info__item:nth-child(3){
    margin-top: 53px;
}
.info__item:nth-child(4){
    margin-top: 53px;
}

.info__item p{
    color: #555;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 97.023%; /* 11.643px */
letter-spacing: -0.18px;
}

.info__item h3{
    color: #000;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 97.023%; /* 20.375px */
letter-spacing: -0.315px;
}

.personal__info__item{
    margin-top: 25px;
}